<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE9">
		<link href="/favicon.ico" rel="icon" type="image/x-icon">
		<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400,600&subset=latin,greek,latin-ext,cyrillic,greek-ext,cyrillic-ext" rel="stylesheet" type="text/css" data-noprefix="1">
		<link href="/static/stylesheets/css/error.css" rel="stylesheet" media="all">
		<link rel="apple-touch-icon-precomposed" href="/static/images/AppIcon60x60.png" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/images/AppIcon76x76.png" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/images/AppIcon60x60@2x.png" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/images/AppIcon76x76@2x.png" />
		<title>{{#i18n}}Error{{/i18n}} {{error.code}}</title>
	</head>
	<body>
		<h1>{{error.code}}</h1>
		<p>{{#i18n}}{{error.message}}{{/i18n}}</p>
		<div>
			<p><a href="http://tryrealdeal.com">Realdeal</a></p>
		</div>
	</body>
</html>