<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE9">
		<link href="/favicon.ico" rel="icon" type="image/x-icon">
		<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400,600&subset=latin,greek,latin-ext,cyrillic,greek-ext,cyrillic-ext" rel="stylesheet" type="text/css" data-noprefix="1">
		<link href="//fonts.googleapis.com/css?family=Inconsolata:700" rel="stylesheet" type="text/css" data-noprefix="1">
		<link href="/static/stylesheets/css/frame.css" rel="stylesheet" media="all">
		<link rel="apple-touch-icon-precomposed" href="/static/images/AppIcon60x60.png" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/images/AppIcon76x76.png" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/images/AppIcon60x60@2x.png" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/images/AppIcon76x76@2x.png" />
		<title>{{campaign.campaign_name}}</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="/static/js/vendor/prefixfree.min.js"></script>
		<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<script src="/static/js/frame-min.js"></script>
	</head>
	<body>
		<div id="head">
			<p id="info">{{#i18n}}{
				"view": {
					"actor": "<strong>{{user.first_name}}</strong>",
					"brand": "<i>{{{campaign.campaign_brand}}}</i>",
					"value": "{{^deal.variant.variant_cta}}<strong>{{^deal.is_voucher}}-{{/deal.is_voucher}}{{deal.variant.variant_value}}{{#deal.currency}} {{currency_code}}{{/deal.currency}}{{^deal.currency}}%{{/deal.currency}}</strong>{{/deal.variant.variant_cta}}"
				},
				"template": {
					"string": "Your {{#deal.is_voucher}}voucher{{/deal.is_voucher}}{{^deal.is_voucher}}offer{{/deal.is_voucher}}{{#campaign.campaign_brand}} from brand{{/campaign.campaign_brand}}",
					"variant": "{{user.gender}}" } }{{/i18n}}</p>
			<p id="code"><strong>{{deal.variant.code_value}}</strong></p>
		</div>
		<iframe id="body" width="100%" height="100%" frameborder="0" allowtransparency="false" scrolling="yes" src="{{deal.variant.code_url}}"></iframe>
		<a href="{{deal.variant.code_url}}" id="close">{{#i18n}}Close{{/i18n}}</a>
	</body>
</html>