<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE9">
		<link href="/favicon.ico" rel="icon" type="image/x-icon">
		<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400,600&subset=latin,greek,latin-ext,cyrillic,greek-ext,cyrillic-ext" rel="stylesheet" type="text/css" data-noprefix="1">
		<link href="/static/stylesheets/css/terms.css" rel="stylesheet" media="all">
		<link rel="apple-touch-icon-precomposed" href="/static/images/AppIcon60x60.png" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/images/AppIcon76x76.png" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/images/AppIcon60x60@2x.png" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/images/AppIcon76x76@2x.png" />
		<title>{{#i18n}}Campaign terms of use{{/i18n}}</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="/static/js/vendor/prefixfree.min.js"></script>
		<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body>
		<div id="content">
			<div id="body">
				<div id="info" class="rows">
					<div class="row">
						{{#html}}{{terms}}{{/html}}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>