<div id="login" class="table">
	<div class="table-row">
		<div class="table-cell">
			<h1>{{#i18n}}Log in{{/i18n}}</h1>
			<p>{{#i18n}}Login using your favorite platform.{{/i18n}}</p>
			<ul>{{#methods}}
				<li><a href="{{url}}" data-action="login">{{name}}</a></li>{{/methods}}
			</ul>
		</div>
	</div>
</div>