{{#i18n}}{
	"view": {
		"actor": "{{user.first_name}}",
		"brand": "{{{campaign.campaign_brand}}}"
	}, "template": {
		"string": "Your offer{{#campaign.campaign_brand}} from brand{{/campaign.campaign_brand}} reminder title",
		"variant": "{{user.gender}}"
	}
}{{/i18n}}